
.vs/Aether.Physics2D.WINDOWS.MG/v15/.suo
.vs/Samples.WINDOWS.MG/v15/.suo
.vs/Samples.WINDOWS.MG/DesignTimeBuild/.dtbcache
.vs/Aether.Physics2D.WINDOWS.MG/v15/Server/sqlite3/storage.ide-wal
.vs/Aether.Physics2D.WINDOWS.MG/v15/Server/sqlite3/storage.ide-shm
.vs/Aether.Physics2D.WINDOWS.MG/v15/Server/sqlite3/storage.ide
.vs/Aether.Physics2D.WINDOWS.MG/v15/Server/sqlite3/db.lock
.vs/Samples.WINDOWS.MG/v15/Server/sqlite3/db.lock
.vs/Samples.WINDOWS.MG/v15/Server/sqlite3/storage.ide
.vs/Samples.WINDOWS.MG/v15/Server/sqlite3/storage.ide-shm
.vs/Samples.WINDOWS.MG/v15/Server/sqlite3/storage.ide-wal
bin/Debug/Windows.MG/Aether.Content.Pipeline.Physics2DImporters.dll
bin/Debug/Windows.MG/Aether.Content.Pipeline.Physics2DImporters.pdb
bin/Debug/Windows.MG/Aether.Physics2D.Diagnostics.dll
bin/Debug/Windows.MG/Aether.Physics2D.Diagnostics.pdb
bin/Debug/Windows.MG/Aether.Physics2D.dll
bin/Debug/Windows.MG/Aether.Physics2D.pdb
bin/Debug/Windows.MG/Content/DiagnosticsFont.xnb
bin/Debug/Windows.MG/Newtonsoft.Json.dll
bin/Debug/Windows.MG/Newtonsoft.Json.xml
bin/Release/Windows.MG/Aether.Physics2D.Diagnostics.dll
bin/Release/Windows.MG/Aether.Physics2D.Diagnostics.pdb
bin/Release/Windows.MG/Aether.Physics2D.dll
bin/Release/Windows.MG/Aether.Physics2D.pdb
bin/Release/Windows.MG/Content/DiagnosticsFont.xnb
bin/Release/Windows.MG/Newtonsoft.Json.dll
bin/Release/Windows.MG/Newtonsoft.Json.xml
Content.Pipeline/Physics2DImporters/obj/Debug/Aether.Content.Pipeline.Physics2DImporters.dll
Content.Pipeline/Physics2DImporters/obj/Debug/Aether.Content.Pipeline.Physics2DImporters.pdb
Content.Pipeline/Physics2DImporters/obj/Debug/Physics2DImporters.WINDOWS.MG.csproj.CoreCompileInputs.cache
Content.Pipeline/Physics2DImporters/obj/Debug/Physics2DImporters.WINDOWS.MG.csproj.FileListAbsolute.txt
Content.Pipeline/Physics2DImporters/obj/Debug/Physics2DImporters.WINDOWS.MG.csprojAssemblyReference.cache
Content.Pipeline/Physics2DImporters/obj/Release/Physics2DImporters.WINDOWS.MG.csproj.CoreCompileInputs.cache
Content.Pipeline/Physics2DImporters/obj/Release/Physics2DImporters.WINDOWS.MG.csprojAssemblyReference.cache
packages/Newtonsoft.Json.11.0.2/.signature.p7s
packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/LICENSE.md
packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
Physics2D.Diagnostics/Diagnostics/obj/Debug/Aether.Physics2D.Diagnostics.dll
Physics2D.Diagnostics/Diagnostics/obj/Debug/Aether.Physics2D.Diagnostics.pdb
Physics2D.Diagnostics/Diagnostics/obj/Debug/Aether.Physics2D.Diagnostics.WINDOWS.MG.csproj.CoreCompileInputs.cache
Physics2D.Diagnostics/Diagnostics/obj/Debug/Aether.Physics2D.Diagnostics.WINDOWS.MG.csproj.FileListAbsolute.txt
Physics2D.Diagnostics/Diagnostics/obj/Debug/Aether.Physics2D.Diagnostics.WINDOWS.MG.csprojAssemblyReference.cache
Physics2D.Diagnostics/Diagnostics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Physics2D.Diagnostics/Diagnostics/obj/Release/Aether.Physics2D.Diagnostics.dll
Physics2D.Diagnostics/Diagnostics/obj/Release/Aether.Physics2D.Diagnostics.pdb
Physics2D.Diagnostics/Diagnostics/obj/Release/Aether.Physics2D.Diagnostics.WINDOWS.MG.csproj.CoreCompileInputs.cache
Physics2D.Diagnostics/Diagnostics/obj/Release/Aether.Physics2D.Diagnostics.WINDOWS.MG.csproj.FileListAbsolute.txt
Physics2D.Diagnostics/Diagnostics/obj/Release/Aether.Physics2D.Diagnostics.WINDOWS.MG.csprojAssemblyReference.cache
Physics2D/obj/Debug/Aether.Physics2D.WINDOWS.MG.csproj.CoreCompileInputs.cache
Physics2D/obj/Debug/Aether.Physics2D.WINDOWS.MG.csproj.FileListAbsolute.txt
Physics2D/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Physics2D/obj/Release/Aether.Physics2D.dll
Physics2D/obj/Release/Aether.Physics2D.pdb
Physics2D/obj/Release/Aether.Physics2D.WINDOWS.MG.csproj.CopyComplete
Physics2D/obj/Release/Aether.Physics2D.WINDOWS.MG.csproj.CoreCompileInputs.cache
Physics2D/obj/Release/Aether.Physics2D.WINDOWS.MG.csproj.FileListAbsolute.txt
Physics2D/obj/Release/Aether.Physics2D.WINDOWS.MG.csprojAssemblyReference.cache
Samples/HelloWorld/bin/Debug/Windows/Aether.Physics2D.Diagnostics.dll
Samples/HelloWorld/bin/Debug/Windows/Aether.Physics2D.Diagnostics.pdb
Samples/HelloWorld/bin/Debug/Windows/Aether.Physics2D.dll
Samples/HelloWorld/bin/Debug/Windows/Aether.Physics2D.pdb
Samples/HelloWorld/bin/Debug/Windows/Content/CircleSprite.xnb
Samples/HelloWorld/bin/Debug/Windows/Content/DiagnosticsFont.xnb
Samples/HelloWorld/bin/Debug/Windows/Content/Font.xnb
Samples/HelloWorld/bin/Debug/Windows/Content/GroundSprite.xnb
Samples/HelloWorld/bin/Debug/Windows/MonoGame.Framework.dll
Samples/HelloWorld/bin/Debug/Windows/Newtonsoft.Json.dll
Samples/HelloWorld/bin/Debug/Windows/Newtonsoft.Json.xml
Samples/HelloWorld/bin/Debug/Windows/Samples.HelloWorld.exe
Samples/HelloWorld/bin/Debug/Windows/Samples.HelloWorld.exe.config
Samples/HelloWorld/bin/Debug/Windows/Samples.HelloWorld.pdb
Samples/HelloWorld/bin/Debug/Windows/SharpDX.Direct2D1.dll
Samples/HelloWorld/bin/Debug/Windows/SharpDX.Direct3D11.dll
Samples/HelloWorld/bin/Debug/Windows/SharpDX.dll
Samples/HelloWorld/bin/Debug/Windows/SharpDX.DXGI.dll
Samples/HelloWorld/bin/Debug/Windows/SharpDX.MediaFoundation.dll
Samples/HelloWorld/bin/Debug/Windows/SharpDX.XAudio2.dll
Samples/HelloWorld/bin/Debug/Windows/SharpDX.XInput.dll
Samples/HelloWorld/Content/bin/Windows/CircleSprite.xnb
Samples/HelloWorld/Content/bin/Windows/Font.xnb
Samples/HelloWorld/Content/bin/Windows/GroundSprite.xnb
Samples/HelloWorld/Content/obj/Windows/.mgcontent
Samples/HelloWorld/Content/obj/Windows/CircleSprite.mgcontent
Samples/HelloWorld/Content/obj/Windows/GroundSprite.mgcontent
Samples/HelloWorld/obj/Debug/HelloWorld.WINDOWS.MG.csproj.CopyComplete
Samples/HelloWorld/obj/Debug/HelloWorld.WINDOWS.MG.csproj.CoreCompileInputs.cache
Samples/HelloWorld/obj/Debug/HelloWorld.WINDOWS.MG.csproj.FileListAbsolute.txt
Samples/HelloWorld/obj/Debug/HelloWorld.WINDOWS.MG.csprojAssemblyReference.cache
Samples/HelloWorld/obj/Debug/Samples.HelloWorld.exe
Samples/HelloWorld/obj/Debug/Samples.HelloWorld.pdb
Physics2D/obj/Debug/Aether.Physics2D.dll
Physics2D/obj/Debug/Aether.Physics2D.pdb
Physics2D/obj/Debug/Aether.Physics2D.WINDOWS.MG.csproj.CopyComplete
Samples/HelloWorld/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Samples/HelloWorld/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Samples/HelloWorld/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Samples/HelloWorld/obj/Release/build.force
Samples/HelloWorld/obj/Release/HelloWorld.WINDOWS.MG.csproj.CoreCompileInputs.cache
Samples/HelloWorld/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Samples/HelloWorld/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Samples/HelloWorld/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Samples/Samples/Content/bin/Windows/Common/arrow.xnb
Samples/Samples/Content/bin/Windows/Common/buttons.xnb
Samples/Samples/Content/bin/Windows/Common/cursor.xnb
Samples/Samples/Content/bin/Windows/Common/gradient.xnb
Samples/Samples/Content/bin/Windows/Common/logo.xnb
Samples/Samples/Content/bin/Windows/Common/popup.xnb
Samples/Samples/Content/bin/Windows/Common/slider.xnb
Samples/Samples/Content/bin/Windows/Common/socket.xnb
Samples/Samples/Content/bin/Windows/Common/stick.xnb
Samples/Samples/Content/bin/Windows/Fonts/detailsFont.xnb
Samples/Samples/Content/bin/Windows/Fonts/frameRateCounterFont.xnb
Samples/Samples/Content/bin/Windows/Fonts/menufont.xnb
Samples/Samples/Content/bin/Windows/Materials/blank.xnb
Samples/Samples/Content/bin/Windows/Materials/dots.xnb
Samples/Samples/Content/bin/Windows/Materials/pavement.xnb
Samples/Samples/Content/bin/Windows/Materials/squares.xnb
Samples/Samples/Content/bin/Windows/Materials/waves.xnb
Samples/Samples/Content/bin/Windows/Samples/alphabet.xnb
Samples/Samples/Content/bin/Windows/Samples/car.xnb
Samples/Samples/Content/bin/Windows/Samples/goo.xnb
Samples/Samples/Content/bin/Windows/Samples/link.xnb
Samples/Samples/Content/bin/Windows/Samples/object.xnb
Samples/Samples/Content/bin/Windows/Samples/wheel.xnb
Samples/Samples/Content/obj/Windows/.mgcontent
Samples/Samples/Content/obj/Windows/Common/arrow.mgcontent
Samples/Samples/Content/obj/Windows/Common/buttons.mgcontent
Samples/Samples/Content/obj/Windows/Common/cursor.mgcontent
Samples/Samples/Content/obj/Windows/Common/gradient.mgcontent
Samples/Samples/Content/obj/Windows/Common/logo.mgcontent
Samples/Samples/Content/obj/Windows/Common/popup.mgcontent
Samples/Samples/Content/obj/Windows/Common/slider.mgcontent
Samples/Samples/Content/obj/Windows/Common/socket.mgcontent
Samples/Samples/Content/obj/Windows/Common/stick.mgcontent
Samples/Samples/Content/obj/Windows/Materials/blank.mgcontent
Samples/Samples/Content/obj/Windows/Materials/dots.mgcontent
Samples/Samples/Content/obj/Windows/Materials/pavement.mgcontent
Samples/Samples/Content/obj/Windows/Materials/squares.mgcontent
Samples/Samples/Content/obj/Windows/Materials/waves.mgcontent
Samples/Samples/Content/obj/Windows/Samples/alphabet.mgcontent
Samples/Samples/Content/obj/Windows/Samples/car.mgcontent
Samples/Samples/Content/obj/Windows/Samples/goo.mgcontent
Samples/Samples/Content/obj/Windows/Samples/link.mgcontent
Samples/Samples/Content/obj/Windows/Samples/object.mgcontent
Samples/Samples/Content/obj/Windows/Samples/wheel.mgcontent
Samples/Samples/obj/Debug/Samples.WINDOWS.MG.csproj.CoreCompileInputs.cache
Samples/Samples/obj/Debug/Samples.WINDOWS.MG.csprojAssemblyReference.cache
Samples/Samples/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Samples/Samples/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Samples/Samples/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Samples/Samples/obj/Release/build.force
Samples/Samples/obj/Release/Samples.WINDOWS.MG.csproj.CoreCompileInputs.cache
Samples/Samples/obj/Release/Samples.WINDOWS.MG.csprojAssemblyReference.cache
Samples/Samples/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Samples/Samples/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Samples/Samples/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Samples/Testbed/bin/Debug/Windows.MG/Aether.Physics2D.Diagnostics.dll
Samples/Testbed/bin/Debug/Windows.MG/Aether.Physics2D.Diagnostics.pdb
Samples/Testbed/bin/Debug/Windows.MG/Aether.Physics2D.dll
Samples/Testbed/bin/Debug/Windows.MG/Aether.Physics2D.pdb
Samples/Testbed/bin/Debug/Windows.MG/Content/DiagnosticsFont.xnb
Samples/Testbed/bin/Debug/Windows.MG/Content/Pixel.xnb
Samples/Testbed/bin/Debug/Windows.MG/Content/Rock.xnb
Samples/Testbed/bin/Debug/Windows.MG/Content/Terrain.xnb
Samples/Testbed/bin/Debug/Windows.MG/Content/Texture.xnb
Samples/Testbed/bin/Debug/Windows.MG/Data/2.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/bird.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/debug.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/diamond.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/dude.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/funny.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/kzer-za.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/nazca_monkey.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/rubegoldberg.json
Samples/Testbed/bin/Debug/Windows.MG/Data/star.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/strange.dat
Samples/Testbed/bin/Debug/Windows.MG/Data/TestBodies.json
Samples/Testbed/bin/Debug/Windows.MG/MonoGame.Framework.dll
Samples/Testbed/bin/Debug/Windows.MG/Newtonsoft.Json.dll
Samples/Testbed/bin/Debug/Windows.MG/Newtonsoft.Json.xml
Samples/Testbed/bin/Debug/Windows.MG/Samples.Testbed.exe
Samples/Testbed/bin/Debug/Windows.MG/Samples.Testbed.exe.config
Samples/Testbed/bin/Debug/Windows.MG/Samples.Testbed.pdb
Samples/Testbed/bin/Debug/Windows.MG/SharpDX.Direct2D1.dll
Samples/Testbed/bin/Debug/Windows.MG/SharpDX.Direct3D11.dll
Samples/Testbed/bin/Debug/Windows.MG/SharpDX.dll
Samples/Testbed/bin/Debug/Windows.MG/SharpDX.DXGI.dll
Samples/Testbed/bin/Debug/Windows.MG/SharpDX.MediaFoundation.dll
Samples/Testbed/bin/Debug/Windows.MG/SharpDX.XAudio2.dll
Samples/Testbed/bin/Debug/Windows.MG/SharpDX.XInput.dll
Samples/Testbed/bin/Release/Windows.MG/Aether.Physics2D.Diagnostics.dll
Samples/Testbed/bin/Release/Windows.MG/Aether.Physics2D.Diagnostics.pdb
Samples/Testbed/bin/Release/Windows.MG/Aether.Physics2D.dll
Samples/Testbed/bin/Release/Windows.MG/Aether.Physics2D.pdb
Samples/Testbed/bin/Release/Windows.MG/Content/DiagnosticsFont.xnb
Samples/Testbed/bin/Release/Windows.MG/Content/Pixel.xnb
Samples/Testbed/bin/Release/Windows.MG/Content/Rock.xnb
Samples/Testbed/bin/Release/Windows.MG/Content/Terrain.xnb
Samples/Testbed/bin/Release/Windows.MG/Content/Texture.xnb
Samples/Testbed/bin/Release/Windows.MG/Data/2.dat
Samples/Testbed/bin/Release/Windows.MG/Data/bird.dat
Samples/Testbed/bin/Release/Windows.MG/Data/debug.dat
Samples/Testbed/bin/Release/Windows.MG/Data/diamond.dat
Samples/Testbed/bin/Release/Windows.MG/Data/dude.dat
Samples/Testbed/bin/Release/Windows.MG/Data/funny.dat
Samples/Testbed/bin/Release/Windows.MG/Data/kzer-za.dat
Samples/Testbed/bin/Release/Windows.MG/Data/nazca_monkey.dat
Samples/Testbed/bin/Release/Windows.MG/Data/rubegoldberg.json
Samples/Testbed/bin/Release/Windows.MG/Data/star.dat
Samples/Testbed/bin/Release/Windows.MG/Data/strange.dat
Samples/Testbed/bin/Release/Windows.MG/Data/TestBodies.json
Samples/Testbed/bin/Release/Windows.MG/Helio.Common.dll
Samples/Testbed/bin/Release/Windows.MG/Helio.Common.pdb
Samples/Testbed/bin/Release/Windows.MG/Microsoft.Win32.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/MonoGame.Framework.dll
Samples/Testbed/bin/Release/Windows.MG/netstandard.dll
Samples/Testbed/bin/Release/Windows.MG/Newtonsoft.Json.dll
Samples/Testbed/bin/Release/Windows.MG/Newtonsoft.Json.xml
Samples/Testbed/bin/Release/Windows.MG/out.xml
Samples/Testbed/bin/Release/Windows.MG/Samples.Testbed.exe
Samples/Testbed/bin/Release/Windows.MG/Samples.Testbed.exe.config
Samples/Testbed/bin/Release/Windows.MG/Samples.Testbed.pdb
Samples/Testbed/bin/Release/Windows.MG/SharpDX.Direct2D1.dll
Samples/Testbed/bin/Release/Windows.MG/SharpDX.Direct3D11.dll
Samples/Testbed/bin/Release/Windows.MG/SharpDX.dll
Samples/Testbed/bin/Release/Windows.MG/SharpDX.DXGI.dll
Samples/Testbed/bin/Release/Windows.MG/SharpDX.MediaFoundation.dll
Samples/Testbed/bin/Release/Windows.MG/SharpDX.XAudio2.dll
Samples/Testbed/bin/Release/Windows.MG/SharpDX.XInput.dll
Samples/Testbed/bin/Release/Windows.MG/System.AppContext.dll
Samples/Testbed/bin/Release/Windows.MG/System.Collections.Concurrent.dll
Samples/Testbed/bin/Release/Windows.MG/System.Collections.dll
Samples/Testbed/bin/Release/Windows.MG/System.Collections.NonGeneric.dll
Samples/Testbed/bin/Release/Windows.MG/System.Collections.Specialized.dll
Samples/Testbed/bin/Release/Windows.MG/System.ComponentModel.dll
Samples/Testbed/bin/Release/Windows.MG/System.ComponentModel.EventBasedAsync.dll
Samples/Testbed/bin/Release/Windows.MG/System.ComponentModel.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/System.ComponentModel.TypeConverter.dll
Samples/Testbed/bin/Release/Windows.MG/System.Console.dll
Samples/Testbed/bin/Release/Windows.MG/System.Data.Common.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.Contracts.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.Debug.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.FileVersionInfo.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.Process.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.StackTrace.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.TextWriterTraceListener.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.Tools.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.TraceSource.dll
Samples/Testbed/bin/Release/Windows.MG/System.Diagnostics.Tracing.dll
Samples/Testbed/bin/Release/Windows.MG/System.Drawing.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/System.Dynamic.Runtime.dll
Samples/Testbed/bin/Release/Windows.MG/System.Globalization.Calendars.dll
Samples/Testbed/bin/Release/Windows.MG/System.Globalization.dll
Samples/Testbed/bin/Release/Windows.MG/System.Globalization.Extensions.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.Compression.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.Compression.ZipFile.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.FileSystem.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.FileSystem.DriveInfo.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.FileSystem.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.FileSystem.Watcher.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.IsolatedStorage.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.MemoryMappedFiles.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.Pipes.dll
Samples/Testbed/bin/Release/Windows.MG/System.IO.UnmanagedMemoryStream.dll
Samples/Testbed/bin/Release/Windows.MG/System.Linq.dll
Samples/Testbed/bin/Release/Windows.MG/System.Linq.Expressions.dll
Samples/Testbed/bin/Release/Windows.MG/System.Linq.Parallel.dll
Samples/Testbed/bin/Release/Windows.MG/System.Linq.Queryable.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.Http.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.NameResolution.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.NetworkInformation.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.Ping.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.Requests.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.Security.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.Sockets.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.WebHeaderCollection.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.WebSockets.Client.dll
Samples/Testbed/bin/Release/Windows.MG/System.Net.WebSockets.dll
Samples/Testbed/bin/Release/Windows.MG/System.ObjectModel.dll
Samples/Testbed/bin/Release/Windows.MG/System.Reflection.dll
Samples/Testbed/bin/Release/Windows.MG/System.Reflection.Extensions.dll
Samples/Testbed/bin/Release/Windows.MG/System.Reflection.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/System.Resources.Reader.dll
Samples/Testbed/bin/Release/Windows.MG/System.Resources.ResourceManager.dll
Samples/Testbed/bin/Release/Windows.MG/System.Resources.Writer.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.CompilerServices.VisualC.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.Extensions.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.Handles.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.InteropServices.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.InteropServices.RuntimeInformation.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.Numerics.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.Serialization.Formatters.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.Serialization.Json.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.Serialization.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/System.Runtime.Serialization.Xml.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.Claims.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.Cryptography.Algorithms.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.Cryptography.Csp.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.Cryptography.Encoding.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.Cryptography.Primitives.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.Cryptography.X509Certificates.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.Principal.dll
Samples/Testbed/bin/Release/Windows.MG/System.Security.SecureString.dll
Samples/Testbed/bin/Release/Windows.MG/System.Text.Encoding.dll
Samples/Testbed/bin/Release/Windows.MG/System.Text.Encoding.Extensions.dll
Samples/Testbed/bin/Release/Windows.MG/System.Text.RegularExpressions.dll
Samples/Testbed/bin/Release/Windows.MG/System.Threading.dll
Samples/Testbed/bin/Release/Windows.MG/System.Threading.Overlapped.dll
Samples/Testbed/bin/Release/Windows.MG/System.Threading.Tasks.dll
Samples/Testbed/bin/Release/Windows.MG/System.Threading.Tasks.Parallel.dll
Samples/Testbed/bin/Release/Windows.MG/System.Threading.Thread.dll
Samples/Testbed/bin/Release/Windows.MG/System.Threading.ThreadPool.dll
Samples/Testbed/bin/Release/Windows.MG/System.Threading.Timer.dll
Samples/Testbed/bin/Release/Windows.MG/System.ValueTuple.dll
Samples/Testbed/bin/Release/Windows.MG/System.Xml.ReaderWriter.dll
Samples/Testbed/bin/Release/Windows.MG/System.Xml.XDocument.dll
Samples/Testbed/bin/Release/Windows.MG/System.Xml.XmlDocument.dll
Samples/Testbed/bin/Release/Windows.MG/System.Xml.XmlSerializer.dll
Samples/Testbed/bin/Release/Windows.MG/System.Xml.XPath.dll
Samples/Testbed/bin/Release/Windows.MG/System.Xml.XPath.XDocument.dll
Samples/Testbed/Content/bin/Windows/Pixel.xnb
Samples/Testbed/Content/bin/Windows/Rock.xnb
Samples/Testbed/Content/bin/Windows/Terrain.xnb
Samples/Testbed/Content/bin/Windows/Texture.xnb
Samples/Testbed/Content/obj/Windows/.mgcontent
Samples/Testbed/Content/obj/Windows/Pixel.mgcontent
Samples/Testbed/Content/obj/Windows/Rock.mgcontent
Samples/Testbed/Content/obj/Windows/Terrain.mgcontent
Samples/Testbed/Content/obj/Windows/Texture.mgcontent
Samples/Testbed/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Samples/Testbed/obj/Debug/Samples.Testbed.exe
Samples/Testbed/obj/Debug/Samples.Testbed.pdb
Samples/Testbed/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Samples/Testbed/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Samples/Testbed/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Samples/Testbed/obj/Debug/Testbed.WINDOWS.MG.csproj.CopyComplete
Samples/Testbed/obj/Debug/Testbed.WINDOWS.MG.csproj.CoreCompileInputs.cache
Samples/Testbed/obj/Debug/Testbed.WINDOWS.MG.csproj.FileListAbsolute.txt
Samples/Testbed/obj/Debug/Testbed.WINDOWS.MG.csprojAssemblyReference.cache
Samples/Testbed/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Samples/Testbed/obj/Release/Samples.Testbed.exe
Samples/Testbed/obj/Release/Samples.Testbed.pdb
Samples/Testbed/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Samples/Testbed/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Samples/Testbed/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Samples/Testbed/obj/Release/Testbed.WINDOWS.MG.csproj.CopyComplete
Samples/Testbed/obj/Release/Testbed.WINDOWS.MG.csproj.CoreCompileInputs.cache
Samples/Testbed/obj/Release/Testbed.WINDOWS.MG.csproj.FileListAbsolute.txt
Samples/Testbed/obj/Release/Testbed.WINDOWS.MG.csprojAssemblyReference.cache
Samples/Testbed/Testbed.WINDOWS.MG.csproj.user
Physics2D/obj/Debug/Aether.Physics2D.WINDOWS.MG.csprojAssemblyReference.cache
Samples/Samples/obj/Debug/build.force
